.timeline h1,
.timeline h2,
.timeline p,
.timeline li{
font-family: 'Source Sans Pro', sans-serif !important;
}

.timeline h1{
	top: auto !important;
	bottom: -20px !important; 
	z-index: 9999;
	font-size: 2.5em;
}
.timeline h2{
	font-size: 1.5em;
	text-align:center;
}
.cssreflections .timeline .slide h1{
	-webkit-box-reflect: below -0.556em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), color-stop(0.7, rgba(255, 255, 255, 0.1)), to(transparent)) !important;
}

.cssreflections .timeline .slide h2{
	text-align:center;
	-webkit-box-reflect: below -0.256em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), color-stop(0.7, rgba(255, 255, 255, 0.1)), to(transparent)) !important;
}
.timeline .insterstitial{
  background-color:lightblue;  
  font-size:2em  
}
.cssreflections .timeline .insterstitial h1{
    -webkit-box-reflect: none !important;
}

.timeline ul{
	position:relative;
	top:100px;
	left:20%;
	width:80%;
}
.timeline #flashtimeline {
	position:relative;
	top:100px;
	width: 50%;
	margin: 0px auto;
	border: solid 5px lightblue;
	text-align: center;
	background-color:white;
}
.timeline .links-section{
	top:100px;
	text-align:center;
	position:relative;
	width: 50%;
	margin: 0px auto;
}
.timeline .quicknote{
	text-align:center;
}
.timeline iframe,
.timeline .image-cradle img {
	border: solid 5px lightblue;
}
.timeline .image-cradle {
	text-align:center;
}
.timeline iframe,
.timeline .image-cradle{
	position:relative;
	top:20px;    
}
.timeline iframe{
	width:1000px;
	height:600px;    
}

.timeline .narrower iframe{
	width:800px;    
}

.timeline .fancy-transform {
	display:block;
	position:relative;
	top:100px;
	left: 30%;
	width:40%;
	height:200px;
	font-size: 0.5em;

	-webkit-transform: scale(1,1) rotate( 0deg );
	-webkit-transition-duration: 0.5s;
}

.timeline .fancy-transform:hover {
	background-color:cyan;
	top:200px;

	-webkit-transform: scale(1.5,1.5) rotate( 10deg );
	-webkit-transition-duration: 0.5s;
}
